.header {
    width: 100%;
    display: flex;
    /* overflow: auto; */
    height: 15vh;
    border-bottom: 2px solid #000;
    /* background-color: blue; */
}

.logo {
    width: 20%;
    height: 100%;
    background-image: url("./logos.png");
    background-repeat: no-repeat;
    background-position: center;
}

.options {
    width: 25%;
    height: 100%;
    /* background-color: brown; */
    display: flex;
}

.option {
    width: 33.3%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

.search {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    /* background-color: red; */
}

.search > input {
    width: 250px;
    height: 30px;
    border-radius: 20px;
}

.search > input:focus {
    background-color: black;
    color: white;
}

.end {
    width: 15%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.end:hover {
    cursor: pointer;
}
