.recomendaciones {
    width: 100%;
    height: 84.75vh;
    background-color: rgb(228, 227, 225);
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.card {
    width: 20%;
    height: 60vh;
    margin-top: 5%;
    background-color: rgb(228, 227, 225);
    border: 3px solid black;
    border-radius: 10px;
    cursor: pointer;
}

.image1 {
    width: 100%;
    height: 80%;
    background-image: url(../../config.jpg);
    background-size: cover;
}

.image2 {
    width: 100%;
    height: 80%;
    background-image: url(../../config2.jpg);
    background-size: cover;
}

.image3 {
    width: 100%;
    height: 80%;
    background-image: url(../../config3.jpg);
    background-size: cover;
}

.title {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}